.game-line {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-top: 30px;
}

.card {
  cursor: pointer;

  position: relative;

  display: flex;

  width: 100px;
  height: 40px;

  font-size: 18px;
  font-weight: 400;
  color: #c5ea0d;
  text-align: center;
  text-shadow:
    1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;

  background: #2cc4d5;
}

.card:hover {
  border: 1px solid rgb(235 133 133);
}

.word {
  flex-grow: 1;
  width: 100%;
  padding: 8px 10px;
}
