.game-line {
  display: flex;
  flex-direction: row;
  gap: 0;
  margin-top: 30px;
}

.card {
  cursor: pointer;

  position: relative;

  display: flex;

  width: 100px;
  height: 40px;

  font-size: 18px;
  font-weight: 400;
  color: #e1f679;
  text-align: center;
  text-shadow:
    1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;

  background: #2088d2;
  outline: 1px solid rgb(180 158 158);

  transition: 0.5s;
}

.card:hover {
  border: 1px solid rgb(235 133 133);
}

.word {
  flex-grow: 1;
  width: 100%;
  padding: 8px 10px;
}

.tile-card.error > .card > .word {
  color: rgb(230 109 109);
}

.show-empty-card {
  width: 40px;
  height: 40px;
  border: 1px solid #676363;
  border-radius: 5px;
}

.empty-card {
  width: 50px;
  height: 40px;
  border: none;
}
