.card {
  cursor: pointer;

  position: relative;

  display: flex;

  width: 100px;
  height: 40px;

  font-size: 18px;
  font-weight: 400;
  color: #e1f679;
  text-align: center;
  text-shadow:
    1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;

  background-color: #2f68cb;
  background-size: 700px auto;
  outline: 1px solid rgb(180 158 158);

  transition: 0.5s;
}

.game-field .card {
  transform: translate(0, 0);
  animation: move;
  animation-duration: 1s;
}

@keyframes move {
  from {
    transform: translate(100%) translateY(50%);
  }

  to {
    transform: translate(0) translateY(0);
  }
}

.card:hover {
  border: 1px solid rgb(235 133 133);
}

.word {
  flex-grow: 1;
  width: 100%;
  padding: 8px 10px;
}

.tile-card.error > .card > .word {
  color: rgb(230 109 109);
}

.word::before {
  content: '';

  position: absolute;
  z-index: 5;
  top: 12px;
  left: 0;

  display: block;

  width: 14px;
  height: 14px;

  background: rgb(229 225 225);
  border-radius: 50%;
}

.tile-0 .word::before {
  background: inherit;
}

.after {
  content: '';

  position: absolute;
  top: 12px;
  right: -14px;

  display: block;

  width: 15px;
  height: 15px;

  background-color: #2f68cb;
  border-radius: 50%;
}

.show-empty-card {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.empty-card {
  width: 50px;
  height: 40px;
  border: none;
}
