.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-login {
  width: 100%;
  max-width: 350px;
  margin: auto;
}

.form-inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-button {
  width: 40%;
  margin-left: auto;
}
