.game-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.toolbar-hints {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: center;

  width: 100%;
  max-width: 250px;

  border-radius: 5px;
}

.icon-toolbar {
  display: block;
  width: 30px;
  height: 30px;
}

.icon-button {
  cursor: pointer;

  display: block;

  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 #333536;

  transition: 0.5s;
}

.icon-button-sound {
  cursor: pointer;

  display: block;

  width: 40px;
  height: 40px;

  border: none;

  transition: 0.5s;
}

.hint-translate,
.hint-background,
.hint-audio {
  padding: 2px;
  background-color: rgb(196 198 197);
  border-radius: 5px;
}

.hint-translate .icon-button {
  background: url('../../../../assets/images/hint_translate.png');
}

.hint-background .icon-button {
  background: url('../../../../assets/images/hint_background.png');
}

.hint-audio .icon-button {
  background: url('../../../../assets/images/hint_audio.png');
}

.toolbar-sound {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.toolbar-sound.active {
  transform: scale(1);
  filter: drop-shadow(0 0 12px rgb(236 222 142));
  box-shadow: 0 0 0 0 rgb(0 0 0 / 100%);
  animation: pulse 0.5s ease-in-out infinite;
}

.toolbar-sound.show {
  visibility: visible;
  opacity: 1;
  transition: 0.7s;
}

.toolbar-sound .icon-button-sound {
  background: url('../../../../assets/images/sound.png');
}

.toolbar-sound:hover {
  scale: 1.1;
}

.hint-translate:active,
.hint-background:active,
.hint-audion:active {
  scale: 0.9;
}

.hint-translate.hint-on,
.hint-background.hint-on,
.hint-audio.hint-on {
  background-color: rgb(106 229 166);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
