.container {
  background-image: none;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 700px;
  margin: 40px auto 0;
}

.game-field {
  width: 100%;
  height: auto;
  background-color: rgb(219 218 186);
  background-size: 700px auto;
}

.field-line {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  height: 40px;
  margin: 0;
}

.game-line {
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: center;
  justify-content: center;

  background: rgb(219 218 186);
}

.field-line.block {
  pointer-events: none;
}

.game-line-card {
  width: 40px;
  height: 40px;
  border: 1px solid #e0dada;
  border-radius: 5px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;

  width: 100%;
  height: 40px;
  margin-top: 30px;
}

.game-button {
  width: 120px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.game-button.hide {
  width: 0;
  height: 0;

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.5s ease-in;
}

.button-wrapper .game-button-autofill {
  margin-left: auto;
  background-color: #b95b5b;
  border: #b95b5b;
}

.button-wrapper .game-button-autofill:hover {
  background-color: #ea3434;
  border-color: #ea3434;
}

.game-field-hint {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;

  width: 100%;
  padding: 5px 0 0;

  visibility: hidden;
}

.game-field-hint.show {
  visibility: visible;
}

.icon-hint {
  cursor: pointer;
  width: 25px;
  height: auto;
  transition: 0.3s;
}

.text-hint-wrap {
  display: flex;
  align-items: center;
}

.text-hint {
  font-size: 14px;
  color: #d4d8a3;

  visibility: hidden;
  opacity: 0;

  transition: 0.5s;
}

.text-hint-wrap.show .text-hint {
  visibility: visible;
  opacity: 1;
}

.icon-hint:hover ~ .text-hint-wrap .text-hint {
  visibility: visible;
  opacity: 1;
}
