.game-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 700px;
  margin: 40px auto 0;
}

.game-field {
  width: 100%;
  height: auto;
  background-color: rgb(241 241 201);
  background-size: 700px auto;
}

.field-line {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  margin: 0;
}

.game-line {
  gap: 1px;
  align-items: center;
  justify-content: center;
  background: rgb(219 219 190);
}

.game-line-card {
  width: 40px;
  height: 40px;
  border: 1px solid #e0dada;
  border-radius: 5px;
}

.game-button {
  width: 30%;
  margin-top: 30px;
}
