.game-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 700px;
  margin: 40px auto 0;
}

.game-field {
  width: 100%;
  height: auto;

  /* background-color: rgb(241, 241, 201); */
  background-size: 700px auto;
}

.field-line {
  flex-wrap: nowrap;
  width: 40px;
  margin: 0;
}

.game-line {
  height: 40px;
  background: rgb(219 219 190);
}
