.button-logout {
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 10px;

  padding: 10px;

  color: antiquewhite;

  background: #385764;

  transition: 0.5s;
}

.button-logout:hover {
  scale: 1.2;
}
