body {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  color: #fff;
  background-color: #f5f5f687;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button-logout {
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 10px;

  padding: 10px;

  color: antiquewhite;

  background: #385764;

  transition: 0.5s;
}

.button-logout:hover {
  scale: 1.2;
}
